{
	"css": {
		"file": [
			"templates/frameworks/bootstrap/css/bootstrap.min.css",
			"https://fonts.googleapis.com/css?family=Playfair+Display:700,900",
			"templates/frameworks/bootstrap/css/dashboard.css"
		]
	},
	"js": {
		"file": [
			"https://code.jquery.com/jquery-3.2.1.slim.min.js",
			"templates/frameworks/bootstrap/js/bootstrap.min.js",
			"templates/frameworks/bootstrap/js/dashboard.js"
		]
	},
	"strings": {
		"thumbnail1":"https://i.picsum.photos/id/1078/400/400.jpg?hmac=FoVJ4owV28SWX9J39RKVQkOVAXmhCTWni2Hm2Z31YR8",
		"thumbnail2":"https://i.picsum.photos/id/1/400/400.jpg?hmac=lOytrN6lDOH_Yx7NwwGIaCtxp6pyuH2V4hD6Eac-VI0"
	}
}