{
	"css": {
		"file": [
			"templates/frameworks/bootstrap/css/bootstrap.min.css",
			"https://fonts.googleapis.com/css?family=Playfair+Display:700,900",
			"templates/frameworks/bootstrap/css/dashboard.css"
		]
	},
	"js": {
		"file": [
			"https://code.jquery.com/jquery-3.2.1.slim.min.js",
			"templates/frameworks/bootstrap/js/bootstrap.min.js",
			"templates/frameworks/bootstrap/js/dashboard.js"
		]
	},
	"strings": {
		"title":"my blog"
	},
	"menu": {
		"menu_item": {
			"title": "Orders",
			"href": "#mymenu"
		},
		"menu_item": {
			"title": "Products",
			"href": "#mymenu"
		},
		"menu_item": {
			"title": "Customers",
			"href": "#mymenu"
		},
		"menu_item": {
			"title": "Reports",
			"href": "#mymenu"
		},
		"menu_item": {
			"title": "Integrations",
			"href": "#mymenu"
		}
	}
}