{
	"css": {
		"file": [
			"templates/frameworks/bootstrap/css/bootstrap.min.css",
			"templates/frameworks/bootstrap/css/cover.css"
		]
	},
	"js": {
		"file": [
			"templates/frameworks/bootstrap/js/bootstrap.min.js",
			"https://code.jquery.com/jquery-3.2.1.slim.min.js"
		]
	},
	"strings": {
		"hero_heading": "Cover your page.",
		"hero_subhead": "Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.",
		
		"link1":"Home",
		"link1_url":"#home",

		"link2":"Features",
		"link2_url":"#features",

		"link3":"Contact",
		"link3_url":"#contact",

		"title": "Cover",

		"btn1_text": "Learn more"
	}
}